* {
  margin: 0;
  padding: 0;
}

html {
overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: #ACEEFF;
  overflow-x: hidden;
}

.header {
  background-color: #03256C;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: transparent;
}

.name {
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin-left: 10px;
}

ul {
  margin-right: 8px;
  display: flex;
}

li{
  list-style: none;
  border: 1px solid white;
  margin: 4px;
  background: white;
  padding: 4px 8px;
  border-radius: 10px;
  height: 20px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0.5px solid black;
  box-shadow:0 0 7px white;
}

#con {
  width: 90px;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover,
a:active {
  font-size: 18px;
  font-weight: 600;
  color: darkblue;
  transition: 0.5s;
}

.mobile-navbar-btn {
  background: transparent;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  height: 32px;
  width: 32px;
  color: white;
}

.mobile-nav-icon[name="close"] {
  display: none;
}
.notification{
  color: #EF0508;
  margin-top: 15px;
  font-weight: bold;
  z-index: -1;
}
.notification>marquee{
  background: white;
  padding: 4px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 15px 0 0;
}
.text {
  margin: 90px 90px 0px 70px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  font-weight: 1000;
  -webkit-text-stroke: 1px #03256C;
  color: white;
}
.contact{
  background-color: #03256C;
  margin:-60px 20px;
  padding: 15px 15px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.contact>button{
  border: 0.5px solid black;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow:0 0 7px white;
  padding:5px 20px;
}
#whatsapp,#email,#phone{
  font-size: 18px;
  font-weight: 600;
} 
@media (max-width: 950px) {
  .mobile-navbar-btn {
    display: block;
    margin-right: 10px;
    z-index: 999;
  }

  .header {
    position: relative;
  }

  .name {
    font-size: 20px;
  }

  .nav {
    width: 100%;
    height: 100vh;
    background: #03256C;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    transform: translateX(100%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li,
  #con {
    width: 100px;
    margin: 8px;
  }

  .active .nav{
    transform: translateX(0%);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    position: fixed;
     }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
    display: none;
  }
  .container {
    flex-direction: column-reverse;
    margin: 20px 10px 10px 10px;
  }
  .text {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-size: 30px;
}
.contact{
  width:auto;
  margin:20px 10px 20px 10px;
}
}
.img {
  height: 396px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: -3px 3px 20px black;
}